@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
:root {
  --lightRedBackground: #faeef2;
  --lightOrangeBackground: #f9e9db;
  --lightYellowBackground: #ffffed;
  --lightGreenBackground: #f9fff7;
  --lightBlueBackground: #e8f4f8;
  --lightPurpleBackground: #fbf7fe;
  --lightBrownBackground: #e6d9cb;
  --lightGreyBackground: #e6d9cb;
  --lightBlackbackground: #ffffff;

  --darkRedBackground: #4e0105;
  --darkOrangeBackground: #6e1a00;
  --darkYellowBackground: #0a0030;
  --darkGreenBackground: #0c4a13;
  --darkBlueBackground: #0d1f4a;
  --darkPurpleBackground: #0e0135;
  --darkBrownBackground: #4a3e2c;
  --darkGreyBackground: #232323;
  --darkBlackBackground: #000000;
}
body {
  font-family: avenir;
}
.topBubblysHeader {
  font-family: "Lilita One", sans-serif !important;
  font-weight: 300;
  font-style: normal;
}
.Acai {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #46295a;
  color: white;
}
.Acai-background {
  background-color: var(--lightPurpleBackground);
}
.Acai-brushings {
  background-color: #46295a !important;
  color: black !important;
}
.Agave {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #7a9a9a;
  color: black !important;
}
.Agave-background {
  background-color: var(--lightOrangeBackground);
}
.Agave-brushings {
  background-color: #7a9a9a;
  color: black !important;
}
.Apple {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #27ae60;
  color: white;
}
.Apple-background {
  background-color: var(--lightGreenBackground);
}
.Apple-brushings {
  background-color: #27ae60 !important;
  color: white !important;
}
.Apple-cider {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #e74c3c;
}
.Apple-cider-background {
  background-color: var(--lightBrownBackground);
}
.Apple-cider-brushings {
  background-color: #e74c3c !important;
  color: black !important;
}
.Apricot {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f3c06e;
  color: black !important;
}
.Apricot-background {
  background-color: var(--lightOrangeBackground);
}
.Apricot-brushings {
  background-color: #f3c06e !important;
  color: black !important;
}
.Banana {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #ffe135;
  color: black !important;
}
.Banana-background {
  background-color: var(--lightYellowBackground);
}
.Banana-brushings {
  background-color: #ffe135 !important;
}
.Basil {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #82c87e;
  color: black !important;
}
.Basil-background {
  background-color: var(--lightGreenBackground);
}
.Basil-brushings {
  background-color: #82c87e !important;
}
.Berry {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #9b59b6;
  color: white;
}
.Berry-background {
  background-color: var(--lightPurpleBackground);
}
.Berry-brushings {
  background-color: #9b59b6 !important;
  color: white !important;
}
.Blackberry {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: white;
  background-color: #37084b;
}
.Blackberry-background {
  background-color: var(--lightPurpleBackground);
}
.Blackberry-brushings {
  background-color: #37084b !important;
  color: white !important;
}
.Black-cherry {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: white;
  background-color: #52253a;
}
.Black-cherry-background {
  background-color: var(--lightPurpleBackground);
}
.Black-pepper {
  background-color: #000000;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: white;
}
.Black-pepper-background {
  background-color: var(--lightBlackbackground);
}
.Black-pepper-brushings {
  color: white !important;
}
.Black-cherry-brushings {
  background-color: #52253a !important;
  color: white !important;
}
.Black-tea {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: white;
  background-color: #463333;
}
.Black-tea-background {
  background-color: #907c7c;
}
.Black-tea-brushings {
  background-color: #463333;
}

.Blood-orange {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: white;
  background-color: #e74c3c;
}
.Blood-orange-background {
  background-color: var(--lightOrangeBackground);
}
.Blood-orange-brushings {
  background-color: #e74c3c !important;
}

.Blueberry {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background-color: #3498db;
  color: white;
}
.Blueberry-brushings {
  background-color: #3498db !important;
  color: white !important;
}
.Blueberry-background {
  background-color: var(--lightBlueBackground);
}
.Cactus {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #5c755e;
  color: white;
}
.Cactus-background {
  background-color: var(--lightGreenBackground);
}
.Cactus-brushings {
  background-color: #5c755e !important;
  color: white !important;
}
.Calamansi {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f1c40f;
  color: black !important;
}
.Calamansi-background {
  background-color: var(--lightOrangeBackground);
}
.Calamansi-brushings {
  background-color: #f1c40f !important;
}
.Cardamom {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #757331;
  color: white;
}
.Cardamom-background {
  background-color: var(--lightGreenBackground);
}
.Cardamom-brushings {
  background-color: #757331 !important;
  color: white !important;
}
.Chili {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #e32227;
  color: white;
}
.Chili-background {
  background-color: var(--lightRedBackground);
}
.Chili-brushings {
  background-color: #e32227 !important;
  color: white !important;
}
.Chai {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #d1b280;
  color: black !important;
}
.Chai-background {
  background-color: var(--lightBrownBackground);
}
.Chai-brushings {
  background-color: #d1b280 !important;
}
.Cherry {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: white;
  background-color: #d10202;
}
.Cherry-background {
  background-color: var(--lightRedBackground);
}
.Cherry-brushings {
  background-color: #d10202 !important;
}
.Cinnamon {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #d1b280;
  color: black !important;
}
.Cinnamon-background {
  background-color: var(--lightBrownBackground);
}
.Citrus {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: greenyellow;
  color: black !important;
}
.Citrus-background {
  background-color: var(--lightGreenBackground);
}
.Citrus-brushings {
  background-color: greenyellow !important;
  color: black !important;
}
.Clementine {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f39c12;
  color: black !important;
}
.Clementine-background {
  background-color: var(--lightOrangeBackground);
}
.Clementine-brushings {
  background-color: #f39c12;
}
.Coconut {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: white;
  background-color: #583e00;
}
.Coconut-background {
  background-color: var(--lightBrownBackground);
}
.Coconut-brushings {
  background-color: #583e00 !important;
  color: white !important;
}
.Cola {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #422801;
  color: white;
}
.Cola-background {
  background-color: var(--lightBrownBackground);
}
.Cola-brushings {
  background-color: #422801 !important;
  color: white;
}

.Cranberry {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #e74c3c;
  color: white;
}
.Cranberry-background {
  background-color: var(--lightRedBackground);
}
.Cranberry-brushings {
  background-color: #e74c3c !important;
}
.Cucumber {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #b4f0cd;
  color: black !important;
}
.Cucumber-background {
  background-color: var(--lightGreenBackground);
}
.Cucumber-brushings {
  background-color: #b4f0cd !important;
  color: black !important;
}
.Currant {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #3d3242;
  color: white;
}
.Currant-background {
  background-color: var(--lightBrownBackground);
}
.Currant-brushings {
  background-color: #3d3242 !important;
  color: white !important;
}
.Dragon-fruit {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f35d8b;
}
.Dragon-fruit-background {
  background-color: var(--lightRedBackground);
}
.Dragon-fruit-brushings {
  background-color: #f35d8b !important;
  color: black !important;
}
.Elderflower {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #fbf9e8;
  color: black !important;
}
.Elderflower-background {
  background-color: var(--lightBrownBackground);
}
.Elderflower-brushings {
  background-color: #fbf9e8 !important;
}
.Fruit-punch {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #e74c3c;
  color: white;
}
.Fruit-punch-background {
  background-color: var(--lightRedBackground);
}
.Fruit-punch-brushings {
  background-color: #e74c3c !important;
  color: white !important;
}
.Ginger {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #d1b280;
  color: black !important;
}
.Ginger-background {
  background-color: var(--lightBrownBackground);
}
.Ginger-brushings {
  background-color: #d1b280 !important;
  color: black;
}
.Grape {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #8e44ad;
  color: white;
}
.Grape-background {
  background-color: var(--lightPurpleBackground);
}
.Grape-brushings {
  background-color: #8e44ad !important;
}
.Grapefruit {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #fdb6f0;
  color: black !important;
}
.Grapefruit-background {
  background-color: var(--lightRedBackground);
}

.Grapefruit-brushings {
  background-color: #fdb6f0 !important;
  color: black !important;
}
.Green-bean {
  background-color: #709048;
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
}
.Green-bean-backgrounnd {
  background-color: var(--lightGreenBackground);
}
.Green-bean-brushings {
  background-color: #709048;
}

.Green-tea {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #2ecc71;
  color: black !important;
}
.Green-tea-background {
  background-color: var(--lightGreenBackground);
}
.Green-tea-brushings {
  background-color: #2ecc71 !important;
  color: black !important;
}
.Guava {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f17a98;
  color: black !important;
}
.Guava-background {
  background-color: var(--lightRedBackground);
}
.Guava-brushings {
  background-color: #f17a98;
}
.Hibiscus {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: white;
  background-color: #e74c3c;
}
.Hibiscus-background {
  background-color: var(--lightRedBackground);
}
.Hibiscus-brushings {
  background-color: #e74c3c !important;
}
.Honey {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: white;
  background-color: #e79a3f;
}
.Honey-background {
  background-color: var(--lightBrownBackground);
}
.Honey-brushings {
  background-color: #e79a3f !important;
}
.Honeysuckle {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #e50068;
  color: white;
}
.Honeysuckle-background {
  background-color: var(--lightRedBackground);
}
.Honeysuckle-brushings {
  background-color: #e50068 !important;
  color: white !important;
}
.Huckleberry {
  background-color: #353770;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
}
.Huckleberry-background {
  background-color: #e8f4f8;
}
.Huckleberry-brushings {
  background-color: #353770;
}
.Key-lime {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #9eeb9e;
  color: black !important;
}
.Key-lime-background {
  background-color: var(--lightGreenBackground);
}
.Key-lime-brushings {
  background-color: #9eeb9e !important;
}
.Kiwi {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #a9c77e;
  color: black !important;
}
.Kiwi-background {
  background-color: var(--lightGreenBackground);
}
.Kiwi-brushings {
  background-color: #a9c77e !important;
}
.Lavender {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #e6e6fa;
  color: black !important;
}
.Lavender-background {
  background-color: var(--lightPurpleBackground);
}
.Lavender-brushings {
  background-color: #e6e6fa !important;
  color: black !important;
}
.Lemon {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #fff700;
  color: black !important;
}
.Lemon-background {
  background-color: var(--lightYellowBackground) !important;
}
.Lemon-brushings {
  background-color: #fff700 !important;
  color: black !important;
}
.Lemonade {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #fffa8b;
  color: black !important;
}
.Lemonade-background {
  background-color: var(--lightYellowBackground) !important;
}
.Lemonade-brushings {
  background-color: #fffa8b !important;
  color: black !important;
}
.Lemongrass {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #969580;
  color: white;
}
.Lemongrass-background {
  background-color: var(--lightGreenBackground);
}
.Lemongrass-brushings {
  background-color: 969580 !important;
  color: white !important;
}
.Lemon-sorbet {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #ffe27e;
  color: black !important;
}
.Lemon-sorbet-background {
  background-color: var(--lightYellowBackground);
}
.Lemon-sorbet-brushings {
  background-color: #ffe27e !important;
  color: black !important;
}
.Limoncello {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f8e597;
  color: black !important;
}
.Limoncello-background {
  background-color: var(--lightYellowBackground);
}
.Limoncello-brushings {
  background-color: #f8e597 !important;
  color: black !important;
}
.Lime {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #32cd32;
  color: black !important;
}

.Lime-background {
  background-color: var(--lightGreenBackground);
}
.Lime-brushings {
  background-color: #32cd32 !important;
}
.Lychee {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f3e2ea;
  color: black !important;
}
.Lychee-background {
  background-color: var(--lightPurpleBackground);
}
.Lychee-brushings {
  background-color: #f3e2ea !important;
  color: black !important;
}
.Mandarin {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f39c12;
  color: black !important;
}
.Mandarin-background {
  background-color: var(--lightOrangeBackground);
}
.Mandarin-brushings {
  background-color: #f39c12 !important;
  color: black !important;
}
.Mango {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f4bb44;
  color: black !important;
}
.Mango-background {
  background-color: var(--lightOrangeBackground);
}
.Mango-brushings {
  background-color: #f4bb44 !important;
  color: black !important;
}
.Melon {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #fdbcb4;
  color: black !important;
}
.Melon-background {
  background-color: var(--lightGreenBackground);
}
.Melon-brushings {
  background-color: #b4f0cd !important;
  color: black !important;
}
.Mint {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #2ecc71;
  color: black !important;
}
.Mint-background {
  background-color: var(--lightGreenBackground);
}
.Mint-brushings {
  background-color: #2ecc71 !important;
  color: black !important;
}
.Mojito {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #7fdfa7;
  color: black !important;
}
.Mojito-background {
  background-color: var(--lightGreenBackground);
}
.Mojito-brushings {
  background-color: #2ecc71 !important;
  color: black !important;
}
.Mushroom {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #d6ccc2;
  color: black !important;
}
.Mushroom-background {
  background-color: var(--lightBrownBackground);
}
.Mushroom-brushings {
  background-color: #d6ccc2 !important;
  color: black;
}
.Nectarine {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #eca93d;
  color: black !important;
}
.Nectarine-background {
  background-color: var(--lightOrangeBackground);
}
.Nectarine-brushings {
  background-color: #eca93d !important;
}
.Orange {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #ffa500;
  color: black !important;
}
.Orange-background {
  background-color: var(--lightOrangeBackground);
}
.Orange-brushings {
  background-color: #ffa500 !important;
}

.Orange-cream {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f39c12;
  color: black !important;
}
.Orange-cream-background {
  background-color: var(--lightOrangeBackground);
}
.Orange-cream-brushings {
  background-color: #f39c12 !important;
}
.Passionfruit {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #81072c;
  color: white;
}
.Passionfruit-background {
  background-color: var(--lightPurpleBackground);
}
.Passionfruit-brushings {
  background-color: #81072c !important;
  color: white !important;
}
.Peach {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f39c12;
  color: black !important;
}
.Peach-background {
  background-color: var(--lightOrangeBackground);
}
.Peach-brushings {
  background-color: #f39c12 !important;
  color: black !important;
}
.Pear {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #5af881;
  color: black !important;
}
.Pear-background {
  background-color: var(--lightGreenBackground);
}
.Pear-brushings {
  background-color: #5af881 !important;
  color: black !important;
}
.Peppermint {
  background-color: #c5eada;
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: black !important;
}
.Peppermint-background {
  background-color: var(--lightGreenBackground);
}
.Peppermint-brushings {
  background-color: #c5eada;
}
.Pineapple {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f1c40f;
  color: black !important;
}
.Pineapple-background {
  background-color: var(--lightYellowBackground) !important;
}
.Pineapple-brushings {
  background-color: #f1c40f !important;
  color: black !important;
}
.Pink-lemonade {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #efd3d2;
  color: black !important;
}
.Pink-lemonade-background {
  background-color: var(--lightRedBackground);
}
.Pink-lemonade-brushings {
  background-color: #efd3d2;
}
.Plain {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #ecf0f1;
  color: black !important;
}
.Plain-background {
  background-color: var(--lightGreyBackground);
}
.Plain-brushings {
  background-color: #a2a5a5 !important;
}
.Plum {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: white;
  background-color: #673147;
}
.Plum-background {
  background-color: var(--lightPurpleBackground);
}
.Plum-brushings {
  background-color: #673147 !important;
}
.Pomelo {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: black !important;

  background-color: #f39c12;
}
.Pomelo-background {
  background-color: #ffd7b5;
}
.Pomelo-brushings {
  background-color: #f39c12 !important;
  color: black !important;
}
.Pomegranate {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: white;
  background-color: #c0392b;
}
.Pomegranate-background {
  background-color: var(--lightPurpleBackground);
}
.Pomegranate-brushings {
  background-color: #c0392b !important;
  color: white !important;
}
.Pumpkin {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #ff7518;
}
.Pumpkin-background {
  background-color: var(--lightOrangeBackground);
}
.Pumpkin-brushings {
  background-color: #ff7518;
}
.Raspberry {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: white;
  background-color: #e30b5c;
}
.Raspberry-background {
  background-color: var(--lightRedBackground);
}
.Raspberry-brushings {
  background-color: #e30b5c !important;
  color: black !important;
}
.Root-beer {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #8c6a33;
  color: white;
}
.Root-beer-background {
  background-color: #e6d9cb;
}
.Root-beer-brushings {
  background-color: #8c6a33 !important;
  color: white !important;
}

.Rose {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #ff007f;
  color: white;
}
.Rose-background {
  background-color: var(--lightRedBackground);
}
.Rose-brushings {
  background-color: #ff007f !important;
}
.Rosé {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f77cb9;
  color: white;
}
.Rosé-background {
  background-color: var(--lightRedBackground);
}
.Rosé-brushings {
  background-color: #f77cb9 !important;
}
.Sage {
  background-color: #8f9779;
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
}
.Sage-background {
  background-color: var(--lightGreenBackground);
}
.Sage-brushings {
  background-color: #8f9779;
}

.Sea-berry {
  background-color: #f09447;
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
}
.Sea-berry-background {
  background-color: var(--lightOrangeBackground);
}
.Sea-berry-brushings {
  background-color: #f09447;
  color: black !important;
}
.Strawberry {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: white;
  background-color: #e74c3c;
}
.Strawberry-background {
  background-color: var(--lightRedBackground);
}
.Strawberry-brushings {
  background-color: #e74c3c !important;
  color: black !important;
}
.Sweetgrass {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #e7ffa4;
  color: black !important;
}
.Sweetgrass-background {
  background-color: var(--lightGreenBackground);
}
.Sweetgrass-brushings {
  background-color: #e7ffa4 !important;
  color: black !important;
}
.Tangerine {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f39c12;
  color: black !important;
}
.Tangerine-background {
  background-color: var(--lightOrangeBackground);
}
.Tangerine-brushings {
  background-color: #f39c12 !important;
  color: black !important;
}
.Tea {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #d1b280;
  color: black !important;
}
.Tea-background {
  background-color: var(--lightBrownBackground);
}
.Tea-brushings {
  background-color: #d1b280 !important;
  color: black !important;
}

.Turmeric {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #ccb647;
  color: black !important;
}
.Turmeric-background {
  background-color: var(--lightYellowBackground);
}
.Turmeric-brushings {
  background-color: #ccb647 !important;
  color: black !important;
}
.Vanilla {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f1c40f;
  color: black !important;
}
.Vanilla-background {
  background-color: var(--lightYellowBackground) !important;
}
.Vanilla-brushings {
  background-color: #f39c12 !important;
}

.Watermelon {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: pink;
  color: black !important;
}
.Watermelon-background {
  background-color: var(--lightGreenBackground);
}
.Watermelon-brushings {
  background-color: pink !important;
}
.Wildflower {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;

  background-color: #7d7dbd;
  color: white;
}
.Wildflower-background {
  background-color: var(--lightPurpleBackground);
}
.Wildflower-brushings {
  background-color: #7d7dbd;
  color: white !important;
}

.Yuzu {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: black !important;

  background-color: #f1c40f;
}
.Yuzu-background {
  background-color: var(--lightYellowBackground) !important;
}
.Yuzu-brushings {
  background-color: #f1c40f !important;
  color: black !important;
}

.bubblyListItem {
  animation-name: animate-pop;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

.littleCircle {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.userRatingElement {
  font-size: 20px;
}
.user-teal {
  background-color: rgb(94 234 212);
}
.user-cyan {
  background-color: rgb(103 232 249);
}
.user-sky {
  background-color: rgb(56 189 248);
}
.user-blue {
  background-color: rgb(96 165 250);
}
.user-lime {
  background-color: rgb(163 230 53);
}
.user-green {
  background-color: rgb(74 222 128);
}
.user-emerald {
  background-color: rgb(52 211 153);
}
.user-yellow {
  background-color: rgb(253 224 71);
}
.user-blue {
  background-color: rgb(96 165 250);
}
.user-red {
  background-color: rgb(248 113 113);
}
.user-purple {
  background-color: rgb(167 139 250);
}
.user-indigo {
  background-color: rgb(165 180 252);
}
.user-violet {
  background-color: rgb(167 139 250);
}
.user-fuchsia {
  background-color: rgb(232 121 249);
}
.user-orange {
  background-color: rgb(251 146 60);
}
.user-amber {
  background-color: rgb(251 191 36);
}
.user-pink {
  background-color: rgb(249 168 212);
}
.user-rose {
  background-color: rgb(251 113 133);
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    filter: brightness(3) saturate(3);
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    filter: brightness(1) saturate(1);
    transform: scale(1, 1);
  }
}

@media screen and (max-width: 600px) {
  .userRatingElement {
    font-size: 10px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --lightRedBackground: var(--darkRedBackground);
    --lightOrangeBackground: var(--darkOrangeBackground);
    --lightYellowBackground: var(--darkYellowBackground);
    --lightGreenBackground: var(--darkGreenBackground);
    --lightBlueBackground: var(--darkBlueBackground);
    --lightPurpleBackground: var(--darkPurpleBackground);
    --lightBrownBackground: var(--darkBrownBackground);
    --lightGreyBackground: var(--darkGreyBackground);
  }
}
