* {
  font-family: avenir;
}
body {
  background-color: aliceblue;
}
.Lime {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #32cd32;
}
.Limoncello {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;

  background-color: #f8e597;
}
.Lemon-sorbet {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;

  background-color: #ffe27e;
}

.Watermelon {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: pink;
}

.Citrus {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: greenyellow;
}

.Pomegranate {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: white;
  background-color: #c0392b;
}

.Green-tea {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #2ecc71;
}

.Tea {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #d1b280;
}

.Yuzu {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f1c40f;
}

.Lemon {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #fff700;
}

.Lemonade {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #fffa8b;
}

.Cucumber {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #b4f0cd;
}

.Mint {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #2ecc71;
}

.Apple {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #27ae60;
}

.Blackberry {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: white;
  background-color: #37084b;
}

.Blueberry {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #3498db;
}

.Raspberry {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: white;
  background-color: #e30b5c;
}

.Strawberry {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: white;
  background-color: #e74c3c;
}
.Pear {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #5af881;
}

.Berry {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #9b59b6;
}

.Grapefruit {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #fdb6f0;
}

.Mango {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f4bb44;
}

.Passionfruit {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f1c40f;
}

.Dragon-fruit {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f35d8b;
}

.Hibiscus {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: white;
  background-color: #e74c3c;
}

.Pomelo {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f39c12;
}

.Pineapple {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f1c40f;
}

.Fruit-punch {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #e74c3c;
}

.Black-cherry {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: white;
  background-color: #52253a;
}

.Black-tea {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: white;
  background-color: #463333;
}

.Blood-orange {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: white;
  background-color: #e74c3c;
}

.Tangerine {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f39c12;
}

.Mandarin {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f39c12;
}

.Guava {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f17a98;
}

.Plum {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: white;
  background-color: #673147;
}

.Kiwi {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #a9c77e;
}

.Coconut {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: white;
  background-color: #583e00;
}
.Honey {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: white;
  background-color: #e79a3f;
}

.Peach {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f39c12;
}

.Orange {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #ffa500;
}

.Orange-cream {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f39c12;
}

.Vanilla {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f1c40f;
}

.Cola {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #2c3e50;
}

.Plain {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #ecf0f1;
}

.Chai {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #d1b280;
}

.Calamansi {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f1c40f;
}

.Ginger {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #d1b280;
}

.Lychee {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #9b59b6;
}

.Cranberry {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #e74c3c;
}

.Apple-cider {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #e74c3c;
}

.Cinnamon {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #d1b280;
}

.Grape {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #8e44ad;
}

.Pink-lemonade {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #efd3d2;
}

.Clementine {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: #f39c12;
}
.Cherry {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  color: white;
  background-color: #d10202;
}

.bubblyListItem {
  animation-name: animate-pop;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

.littleCircle {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    filter: brightness(3) saturate(3);
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    filter: brightness(1) saturate(1);
    transform: scale(1, 1);
  }
}
